<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angga.telkomselapprenticeprogam">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.edit_password.activity_edit_password"></activity>
        <activity android:name=".activities.edit_profil.activity_edit_profil"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.detail_info.DetailInfoActivity"
            android:label="@string/title_activity_info_reward"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.detail_reward.DetailRewardActivity"
            android:label="@string/title_activity_detail_reward"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.detail_program.DetailProgramActivity"
            android:label="@string/title_activity_detail_program"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>